// SPDX-License-Identifier: GPL-2.0
/*
 * Samsung Galaxy A21s (a21s/SM-A217F) device tree source
 *
 * Copyright (c) 2026, Thomas Turner <tturner@lineageos.org>
 */

/dts-v1/;
#include "exynos850.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Samsung Galaxy A21s";
	compatible = "samsung,a217f", "samsung,exynos850";

	chosen {
		ranges;
		#address-cells = <2>;
		#size-cells = <1>;

		framebuffer0: framebuffer@fa000000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xfa000000 (720 * 1600 * 4)>;
			width = <720>;
			height = <1600>;
			stride = <(720 * 4)>;
			format = "a8r8g8b8";
			clocks = <&cmu_dpu CLK_GOUT_DPU_DECON0_ACLK>,
				 <&cmu_dpu CLK_GOUT_DPU_DMA_ACLK>,
				 <&cmu_dpu CLK_GOUT_DPU_DPP_ACLK>,
				 <&cmu_dpu CLK_GOUT_DPU_PPMU_ACLK>,
				 <&cmu_dpu CLK_GOUT_DPU_PPMU_PCLK>,
				 <&cmu_dpu CLK_GOUT_DPU_SMMU_CLK>;
		};
	};

	/*
	 * RTC clock (XrtcXTI); external, must be 32.768 kHz.
	 *
	 * TODO: Remove this once RTC clock is implemented properly as part of
	 *       PMIC driver.
	 */
	rtcclk: clock-rtcclk {
		compatible = "fixed-clock";
		clock-output-names = "rtcclk";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&key_voldown &key_volup>;
		pinctrl-names = "default";

		voldown-key {
			label = "Volume Down";
			gpios = <&gpa1 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		volup-key {
			label = "Volume Up";
			gpios = <&gpa0 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x3c900000>,
		      <0x0 0xc0000000 0x20000000>,
		      <0x0 0xe0d00000 0x1f300000>,
		      <0x8 0x80000000 0x20000000>,
		      <0x8 0xa0000000 0x20000000>;
	};

	/* TODO: Remove this once PMIC is implemented  */
	reg_dummy: regulator-0 {
		compatible = "regulator-fixed";
		regulator-name = "dummy_reg";
	};

	reserved-memory {
		ranges;
		#address-cells = <2>;
		#size-cells = <1>;

		ramoops@f0000000 {
			compatible = "ramoops";
			reg = <0x0 0xf0000000 0x200000>;
			record-size = <0x20000>;
			console-size = <0x20000>;
			ftrace-size = <0x100000>;
			pmsg-size = <0x20000>;
		};

		cont_splash_mem: framebuffer@fa000000 {
			reg = <0x0 0xfa000000 (720 * 1600 * 4)>;
			no-map;
		};
	};
};

&acpm_ipc {
	pmic-1 {
		compatible = "samsung,s2mpu12-pmic";
		interrupts = <GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		system-power-controller;
		wtsr_en = "enabled";
		smpl_en = "enabled";
		wtsr_timer_val = <3>;
		smpl_timer_val = <0>;
		check_jigon = <0>;
		wakeup-source;


		/* ldos 11-23 are disabled by samsung. disable them here too. */
		regulators {
			vdd_buck1: buck1 {
				regulator-name = "vdd_cpu";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
				regulator-ramp-delay = <6000>;
				regulator-always-on;
			};

			vdd_buck2: buck2 {
				regulator-name = "vdd_gpu";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-ramp-delay = <6000>;
			};

			vdd_buck4: buck4 {
				regulator-name = "vdd_lldo";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-ramp-delay = <6000>;
			};

			vdd_buck5: buck5 {
				regulator-name = "vdd_mldo";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2100000>;
				regulator-always-on;
				regulator-ramp-delay = <6000>;
			};

			vdd_ldo1: ldo1 {
				regulator-name = "vdd_ldo1";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo2: ldo2 {
				regulator-name = "vdd_ldo2";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo3: ldo3 {
				regulator-name = "vdd_ldo3";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo4: ldo4 {
				regulator-name = "vdd_ldo4";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo5: ldo5 {
				regulator-name = "vdd_ldo5";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo6: ldo6 {
				regulator-name = "vdd_ldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1187500>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo7: ldo7 {
				regulator-name = "vdd_ldo7";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo8: ldo8 {
				regulator-name = "vdd_ldo8";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo9: ldo9 {
				regulator-name = "vdd_ldo9";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			/* vqmmc */
			vdd_ldo10: ldo10 {
				regulator-name = "vdd_ldo10";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo11: ldo11 {
				regulator-name = "vdd_ldo11";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo23: ldo23 {
				regulator-name = "vdd_ldo23";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			/* vmmc */
			vdd_ldo24: ldo24 {
				regulator-name = "vdd_ldo24";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2950000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo25: ldo25 {
				regulator-name = "vdd_ldo25";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo26: ldo26 {
				regulator-name = "vdd_btp_3p3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3375000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo27: ldo27 {
				regulator-name = "vdd_grip_3p3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <12000>;
				regulator-boot-on;
			};

			/* lcd_vddi */
			vdd_ldo28: ldo28 {
				regulator-name = "vdd_ldo28";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12000>;
				regulator-boot-on;
			};

			vdd_ldo29: ldo29 {
				regulator-name = "vdd_ldo29";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo30: ldo30 {
				regulator-name = "vdd_sensor_1p8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo31: ldo31 {
				regulator-name = "vdd_motor_3p3";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo32: ldo32 {
				regulator-name = "vdd_ldo32";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
				regulator-ramp-delay = <12000>;
			};

			vdd_ldo33: ldo33 {
				regulator-name = "vdd_aldo1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo34: ldo34 {
				regulator-name = "vdd_aldo2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3375000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo35: ldo35 {
				regulator-name = "vdd_ldo_core";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <1950000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};

			vdd_ldo36: ldo36 {
				regulator-name = "vdd_ldo_buf";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1300000>;
				regulator-ramp-delay = <12000>;
				regulator-always-on;
			};
		};
	};
};

&cmu_hsi {
	clocks = <&oscclk>, <&rtcclk>,
		 <&cmu_top CLK_DOUT_HSI_BUS>,
		 <&cmu_top CLK_DOUT_HSI_MMC_CARD>,
		 <&cmu_top CLK_DOUT_HSI_USB20DRD>;
	clock-names = "oscclk", "rtcclk", "dout_hsi_bus",
		      "dout_hsi_mmc_card", "dout_hsi_usb20drd";
};

&gpu {
	mali-supply = <&reg_dummy>;

	status = "okay";
};

&mmc_0 {
	compatible = "samsung,exynos7-dw-mshc";
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	cap-mmc-highspeed;
	non-removable;
	mmc-hs400-enhanced-strobe;
	card-detect-delay = <200>;
	clock-frequency = <800000000>;
	bus-width = <8>;

	pinctrl-0 = <&sd0_clk_pins &sd0_cmd_pins &sd0_rdqs_pins &sd0_nreset_pins
		     &sd0_bus1_pins &sd0_bus4_pins &sd0_bus8_pins>;
	pinctrl-names = "default";

	samsung,dw-mshc-ciu-div = <3>;
	samsung,dw-mshc-sdr-timing = <0 4>;
	samsung,dw-mshc-ddr-timing = <2 4>;
	samsung,dw-mshc-hs400-timing = <0 2>;

	status = "okay";
};

&oscclk {
	clock-frequency = <26000000>;
};

&pinctrl_alive {
	key_voldown: key-voldown-pins {
		samsung,pins = "gpa1-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5420_PIN_DRV_LV1>;
	};

	key_volup: key-volup-pins {
		samsung,pins = "gpa0-7";
		samsung,pin-function = <EXYNOS_PIN_FUNC_EINT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5420_PIN_DRV_LV1>;
	};
};

&pinctrl_peri {
	pmic_int: pmic-int-pins {
		samsung,pins = "gpg1-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS5420_PIN_DRV_LV1>;
	};
};

&rtc {
	clocks = <&cmu_apm CLK_GOUT_RTC_PCLK>, <&rtcclk>;
	clock-names = "rtc", "rtc_src";

	status = "okay";
};

&spi_1 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	/* single populated touch IC on this board, not the vendor's shared
	 * 3-way novatek/himax/ovt mux -> one CS line
	 */
	num-cs = <1>;
	cs-gpios = <&gpm3 0 GPIO_ACTIVE_LOW>;   /* from ovt,cs-gpio fixup -> gpm3 */

	touchscreen@0 {
		compatible = "ovt,td4150";
		reg = <0>;
		spi-max-frequency = <7000000>;   /* ovt,spi-max-frequency = 0x6acfc0 */
		spi-cpol;
		spi-cpha;                        /* ovt,spi-mode = 0x03 -> SPI_MODE_3 */

		interrupt-parent = <&gpa0>;      /* ovt,irq-gpio fixup -> gpa0 */
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;   /* ovt,irq-on-state = 0 -> active-low */

		vdd-supply = <&reg_dummy>;
	};
};

&timer {
	/*
	 * Non-updatable, broken stock Samsung bootloader does not
	 * configure CNTFRQ_EL0
	 */
	clock-frequency = <26000000>;
};

&usbdrd {
	vdd10-supply = <&reg_dummy>;
	vdd33-supply = <&reg_dummy>;

	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "otg";
	maximum-speed = "high-speed";
};

&usbdrd_phy {
	status = "okay";
};

&usi_cmgp0 {
	samsung,mode = <USI_MODE_SPI>;
	status = "okay";
};

&watchdog_cl0 {
	status = "okay";
};

&watchdog_cl1 {
	status = "okay";
};
